.menu{
    display: flex;
    justify-content: space-between;
    background-color: #342343;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #111111;
}
body{
    margin: 0px;
    background-color:#323212;
    
}
.grid{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #983452;
    border-radius: 50px;
}
.origami {
    margin: 25px;
    padding: 30px;
    
    border-radius: 20px;
    background-color: #263453;
    
    width:310px;
    font-family: fantasy;
    
}
